.left{

    float:left;
}

.right{
    float: right
}


.footerBox{
    background: #DDD;


}
.center{
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
    
}

.contactMail{
    clear: both;
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    float: right;

}

.members {
    float:left;
    list-style: none outside none;
}
.members.Top{ margin-top: 5%; }

.members li {
    float: left;
    margin: 20px 0 15px 20px;
}

.members li:first-child{
    margin-left: 0;
}

.menuBlock{

    position: relative;
}
.picAvatar{
    float:left;
    width: 24.9999%;
}
.userData{
    margin-left: 10px; 
    font-weight: lighter;
    font-family: EY;
    width: 70%;
    display: table;
}

.chromebrowser .userData{
    
    font-family: Arial, Helvetica,  sans-serif;
}

.userData span{
    color: #333;
    font-size: 16px;
    display: block;

}
.userData strong{
    color: #333;
    font-size: 20px;
    display: block;
    font-weight: lighter;
    margin-bottom: 10px;

}
#wRegistro .btnLogOut {
    background: none repeat scroll 0 0 #777777;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 11px;
    text-align: center;
    width: 26%;
}
#sidebar .boxNotas {
    width: 100%;
}

#sidebar .tituloNotaW  {
    width: 100%;
}

#sidebar .tituloBox{ 
    height:40px;
}
#sidebar .tituloBox a{ 
    font-size: 16px; 
}

#sidebar .tituloBox a:before {
    background: #f90;
    content: " ";
    width: 13px;
    display: inline-block;
    height: 40px;
    margin: 0 10px -15px 0;
}
#menu-menu-principal li{
    border-right: 1px solid #444;
}
#menu-menu-principal li:last-child{
    border-right: none;
}
#menu-menu-principal li.current-menu-ancestor, #menu-menu-principal li.current-menu-item,#menu-menu-publico li.current-menu-ancestor, #menu-menu-publico li.current-menu-item{
    border-right: 1px solid #555;
    border-left: 1px solid #555;
}


#menu-menu-principal .current-menu-ancestor a, #menu-menu-principal li.current-menu-item a, #menu-menu-publico .current-menu-ancestor a, #menu-menu-publico li.current-menu-item a {
    background: #222;
    color: rgb(242, 148, 0);
}
.page-template-tpl_noticiasdf-php .wNota .desc {
    clear: both;
}

#cSlider #layerslider{
    height: 374px;
}

.mas-btn{
    border:0 none;
    background:url(_img/mas-btn.png) no-repeat right center;
    background-color:transparent;
    font-weight: bold;
    color:#999999;
    padding-right:20px;
}
.svg .mas-btn{background-image:url(_img/mas-btn.svg);}
