.left{

    float:left;
}

.right{
    float: right
}


.footerBox{
    background: #DDD;


}
.center{
    width: 980px;
    margin: 0 auto;
}

.menuFoot{
    float: right;
    list-style: none;
}

.menuFoot li{
    float: left;
    padding:0 5px;
    border-left: 1px solid #999;


}
.menuFoot li a{

    color: #333;
    /*    text-transform: uppercase;*/
    font-size: 13px;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
}

.menuFoot li:first-child{border: none;}
.menuFoot li:last-child{padding-right: 0;}
.menuFoot .sub-menu{
    display: none;
}
.contactMail{
    clear: both;
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    float: right;

}

.members {
    position: absolute;
    list-style: none outside none;
    right: 0;
    top: 10px;
}

.members li {
    float: left;
    margin: 20px 0 15px 20px;
}

.menuBlock{

    position: relative;
}
.picAvatar{
    float:left;
    width: 24.9999%;
}
.userData{
    float:left;
    width: 60.9999%;
    margin-left: 10px; 
    font-weight: lighter;
    font-family: EY;
}

.userData span{
    color: #333;
    font-size: 16px;
    display: block;

}
.userData strong{
    color: #333;
    font-size: 20px;
    display: block;
    font-weight: lighter;

}
#wRegistro .btnLogOut{
    width: 70px;
    height: 15px;
    color:#fff;
    background: #777;
    display: block;
    font-size: 12px;
    text-align: center;
    float: right;
    margin-top: 30px;
}
#sidebar .boxNotas {
    width: 100%;
}

#sidebar .tituloNotaW  {
    width: 100%;
}

#wNotas .boxNotas{
    width: 31.5%;
}

#sidebar .tituloBox{ 
    height:40px;
}
#sidebar .tituloBox a{ 
    font-size: 19px; 
}

#sidebar .tituloBox a:before {
    background: #f90;
    content: " ";
    width: 5%;
    display: inline-block;
    height: 40px;
    margin: 0 10px -15px 0;
}
#menu-menu-principal li{
    border-right: 1px solid #444;
}
#menu-menu-principal li:last-child{
    border-right: none;
}
#menu-menu-principal li.current-menu-ancestor, #menu-menu-principal li.current-menu-item{
    border-right: 1px solid #555;
    border-left: 1px solid #555;
}


#menu-menu-principal .current-menu-ancestor a, #menu-menu-principal li.current-menu-item a {
    background: #222;
    color: rgb(242, 148, 0);
}
.page-template-tpl_noticiasdf-php .wNota .desc {
    clear: both;
}