.column4{width:31%;}
.row [class*="column"] img{max-width:100%; width:auto;}
.sliderHome figcaption{background:#000; width:640px;}
.swipe-wrap{position:relative;}
.tituloLog p a{float:none; text-align:right;}

